.list {
    margin-bottom: 20px;

    &__add-button {
        opacity: .5;

        &:hover {
            opacity: 1;
        }
    }

    &__remove-icon {
      opacity: 0;
    }

    li {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      margin-bottom: 5px;

      cursor: pointer;

      & span {
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &:hover {
        background: rgba(225, 225, 225, .5);

        & .list__remove-icon {
          opacity: .3;

          &:hover {
            opacity: 1;
          }
        }
      }

      &.active {
        background: #fff;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
      }

      & .todo__img {
        margin-right: 10px;
        opacity: .6;

        &--add {
            width: 12px;
        }
      }
    }
  }