* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  width: 750px;
  height: 530px;

  font-size: 14px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;

  position: absolute;
  left: 50%;
  top: 50%;

  &__sidebar {
    padding: 60px 20px;
    width: 200px;
    height: calc(100% - 120px);

    background-color: #f4f6f8;
    border-right: 1px solid #f1f1f1;
  }

  &__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }
}

.button {
  padding: 10px 20px;

  background: #4DD599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  cursor: pointer;

  &:hover {
    background: darken(#4DD599, 6%);
  }

  &:active {
    background: darken(#4DD599, 10%);
  }

  &:disabled {
    background: #d8d8d8;
  }

  &--grey {
    background: #f4f6f8;
    color: #444;

    &:hover {
      background: darken(#f4f6f8, 3%);
    }

    &:active {
      background: darken(#f4f6f8, 6%);
    }
  }
}

.field {
  padding: 8px 12px;
  width: 100%;
  
  background: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  
  &:focus {
      border-color: #dbdbdb;
  }
}
